<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <form name="universe_form" action="{% block form_action %}{% endblock %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='next_sd_num' id='next_sd_num' value='0' />
    <ul>
      {% for field in form %}
          <li>
            {{ field.label_tag }}{{ field }}
            {% if field.errors %}
              {{ field.errors|striptags }}
            {% endif %}
          </li>
      {% endfor %}
      <div id="supplies_demands">
        {% for sd_form in form.sd_forms %}
          {% include "supply_demand_form.html" with form=sd_form %} 
        {% endfor %}
      </div>
      <input type="hidden" name="next_sd_num" value="0" />
      <li>
          <a href="#" id="add_supply_demand">Add supply/demand</a>
      </li>
      <li>
          <button id="id_save" type="submit" tabindex="1000">Save</button>
      </li>
    </ul>
  </form>
  {% block content %}
  {% endblock %}
</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/static/navigation.js"></script>
<script src="/static/custom_population.js"></script>
</html>
