<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <form action="{% block form_action %}{% endblock %}" method="post">
    {% csrf_token %}
    <ul>
      {% for field in form %}
      <li>
        {{ field }}
        {% if field.errors %}
          {{ field.errors|striptags }}
        {% endif %}
      </li>
      {% endfor %}
      <li>
        <button id="id_save" type="submit" tabindex="2">Save</button>
      </li>
    </ul>
  </form>
  {% block content %}
  {% endblock %}
</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/static/navigation.js"></script>
</html>
