<html>
  <head>
  </head>
  <body>
  <form>
      <ul>
        <li>
          <label for="id_input_name">Name</label>
          <input type="textbox" id="id_input_name" value="Population1" tabindex="0" />
        </li>
        <li>
          <label for="id_input_qty">Quantity</label>
          <input type="textbox" id="id_input_qty" tabindex="1" />
          <a href="#" id="save_pop">Save</a> 
        </li>
      </ul>
    </form>
  </body>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../static/navigation.js"></script>
</html>
