{% extends "base_universe.html" %}
{% block title %}Universe{% endblock %}
{% block form_action %}{% url 'universe' universe.id %}{% endblock %}
{% block content %}
  {% for pop in universe.population_set.all %}
  <ul>
    <li>
      {{ pop.name }} X {{ pop.quantity }}
    </li>
    <li>
      <div>Supply and demand</div>
      <div>
        <ul>
          {% for sd in pop.supplydemand_set.all %}
            <li>{{ sd.resource.name }}: {{ sd.value }}</li>
          {% endfor %}
        </ul>
      </div>
    </li>
    <li>
      <a href='#'>Delete</a>
    </li>
  </ul>
  {% endfor %}
{% endblock %}
